.about .column-left {
  align-self: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.about .column-right {
  width: 30%;
}

.about .column-right.profile-pic {
  position: relative;
}

.about .column-right.profile-pic img {
  border-radius: 50%;
  /* box-shadow: -25px -50px 0px 24px #ff8c4d; */
}

.about .profile-pic:before {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: -5%;
  left: -10%;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ff8c4d, #f4494e);
  content: '';
}
