.gallery-wrap {
  margin-top: 100px;
}

.gallery-title {
  margin-bottom: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 5vw); */
  grid-gap: 25px;
}

.blog .card {
  border-radius: 5px;
  padding: 25px;
  border: 1px solid #cecece;
}
