.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(163, 163, 163);
}

.footer .social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .social-media i {
  font-size: 2rem;
  margin: 0 5px;
  color: white;
}
